<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <property name="PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n"/>

  <property name="LOG_DIR" value="./logs"/>
  <property name="LOG_FILE" value="myapp.log"/>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/myapp.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${PATTERN}</pattern>
    </encoder>
  </appender>

  <!--  <logger name="jdbc" level="OFF" additive="false">-->
  <!--    <appender-ref ref="FILE"/>-->
  <!--  </logger>-->
  <!--  <logger name="jdbc.sqlonly" level="DEBUG" additive="false">-->
  <!--    <appender-ref ref="FILE"/>-->
  <!--  </logger>-->
  <!--  <logger name="jdbc.sqltiming" level="OFF" additive="false">-->
  <!--    <appender-ref ref="FILE"/>-->
  <!--  </logger>-->
  <!--  <logger name="org.hibernate.SQL" level="DEBUG" additive="false">-->
  <!--    <appender-ref ref="FILE"/>-->
  <!--  </logger>-->

  <root level="INFO">
    <appender-ref ref="FILE"/>
  </root>
</configuration>