<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <property name="PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>${PATTERN}</Pattern>
    </encoder>
  </appender>

  <logger name="jdbc" level="OFF" additive="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="jdbc.sqlonly" level="DEBUG" additive="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="jdbc.sqltiming" level="OFF" additive="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="org.hibernate.SQL" level="DEBUG" additive="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>